.best {
    background: url(../../img/best/best_bg.jpg) no-repeat center/cover;
    min-height: 495px;
    font-family: $mainfontstyle;

    h2 {
        font-size: 24px;
        padding-top: 80px;
        margin-bottom: 39px;
        text-align: center;
    }

    .best_grid {
        @include autoGrid(220px, 220px, 70px);

        .best_item {
            height: 240px;
            background-color: #FFFFFFA6;
            border-radius: 8px;
            padding-top: 22px;
            display: flex;
            flex-direction: column;
            align-items: center;

            & div:nth-child(1) {
                width: 151px;
                height: 130px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & div:nth-child(2) {
                width: 177px;

                p:nth-child(1) {
                    font-size: 14px;
                    text-align: right;
                    margin-top: 14px;
                }

                p:nth-child(2) {
                    font-size: 14px;
                    text-align: right;
                    margin-top: 10px;
                }
            }

        }

    }
}